#dataGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


.data-container{
    position: relative;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.data{
    position: absolute;
    z-index: 1;
}

.data{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.data-menu{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10%;
    height: 10%;
    z-index: 2;
}

.limit-size{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0px;
}